# Node.js dependencies
node_modules/

# Webpack output (Compiled distribution code)
dist/

# Environment variables (Secrets and API keys)
.env
.env.local

# npm and debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# macOS system files
.DS_Store