@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Bungee";
  background-color: beige;
}

/* ---------- */
/* - HEADER - */
/* ---------- */
nav {
  z-index: 10;
  background-color: rgba(128, 0, 0, 0.95);
  height: 80px;
  color: beige;
  position: fixed;
  width: 100%;
}

.our-logo {
  height: 60px;
  cursor: pointer;
}

#nav-home,
#nav-products {
  cursor: pointer;
}

#cart-icon {
  height: 40px;
  color: beige;
}

#log-out-btn {
  display: none;
  cursor: pointer;
}

/* ---------- */
/* MAIN AREAS */
/* ---------- */

main {
  position: relative;
  top: 60px;
  padding: 1em 5rem;
}

ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  list-style: none;
}

ol button {
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
  background-color: beige;
}

ol button a {
  text-decoration: none;
  color: maroon;
  font-family: "Bungee";
}

footer {
  z-index: 10;
  background-color: rgba(128, 0, 0, 0.95);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: beige;
}

footer ol {
  font-weight: 200;
  font-size: 12px;
  display: flex;
}
footer ol li a {
  color: beige;
  text-decoration: none;
}

.nav-items {
  margin-bottom: 20px;
}
