@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Bungee";
  background-color: beige;
}

/* ---------- */
/* - HEADER - */
/* ---------- */
nav {
  z-index: 10;
  background-color: rgba(128, 0, 0, 0.95);
  height: 80px;
  color: beige;
  position: fixed;
  width: 100%;
}

.our-logo {
  height: 60px;
  cursor: pointer;
}

#nav-home,
#nav-products {
  cursor: pointer;
  transition: 1s;
  text-align: center;
  padding: 5px 8px;
}
#nav-home:hover,
#nav-products:hover {
  background-color: beige;
  color: maroon;
  border-radius: 5px;
  transition: 0.3s;
}

.nav-left,
.nav-middle,
.nav-right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#cart-icon {
  cursor: pointer;
  height: 40px;
  color: beige;
}
#cart-icon:hover {
  height: 42px;
}

.login-out-btn {
  cursor: pointer;
  width: 150px;
}

#log-out-btn {
  display: none;
}

/* ---------- */
/* MAIN AREAS */
/* ---------- */

main {
  position: relative;
  top: 80px;
  padding: 1em 5rem;
  min-height: calc(100vh - 220px);
}

ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  list-style: none;
}

ol button {
  border: 2px solid beige;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
  background-color: maroon;
}

ol button a {
  text-decoration: none;
  color: beige;
  font-family: "Bungee";
}

footer {
  z-index: 10;
  background-color: rgba(128, 0, 0, 0.95);
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: beige;
}

footer ol {
  font-weight: 200;
  font-size: 12px;
  display: flex;
}
footer ol li a {
  color: beige;
  text-decoration: none;
}

.nav-items {
  margin-bottom: 20px;
}
