@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap"); */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: "Bungee";
}

ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  list-style: none;
}

ol button {
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 15px;
  background-color: beige;
}

ol button a {
  text-decoration: none;
  color: maroon;
  font-family: "Bungee";
}

footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  background-color: maroon;
  width: 100%;
  color: beige;
}

footer ol {
  font-weight: 200;
  font-size: 12px;
  display: flex;
}

.nav-items {
  margin-bottom: 20px;
}
